<form action="timezone" method="post">
	<label> What City ? </label>
	<input type="text" name="message" placeholder="Put your city name in here!">
	<br><br><br>
	<input type="submit" value="Get me the time!!!" style="margin-left:80px">
</form>